body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: whitesmoke;
  color:rgb(34, 33, 33);
}

span {
  font-size: 2.5rem;
}

#rainbow, span {
    background: linear-gradient(to bottom right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }